@charset "utf-8";
.container-fluid {
    background-color: rgba(158,231,126,1.00);
    -webkit-box-shadow: inset 0px 0px rgba(133,74,75,1.00);
    box-shadow: inset 0px 0px rgba(133,74,75,1.00);
    background-image: -webkit-linear-gradient(270deg,rgba(167,207,120,1.00) 0%,rgba(255,0,0,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(167,207,120,1.00) 0%,rgba(255,0,0,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(167,207,120,1.00) 0%,rgba(255,0,0,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(167,207,120,1.00) 0%,rgba(255,0,0,1.00) 100%);
}
